<footer class="bg-primary mt-3">
  <div class="container pt-3">
    <div class="row gap-5">
      <div class="col">
        <div class="footerBox">
          <p class="h5 footer-heading text-white">Privacy Policy</p>
          <p class="small footer-text text-white">
            We are committed to protecting your privacy. We will only use the
            information we collect about you lawfully (in accordance with the
            Data Protection Act 1998). Please read on if you wish to learn more
            about our privacy policy.
          </p>
        </div>
      </div>
      <div class="col">
        <div class="footerBox">
          <p class="h5 footer-heading text-white">Terms of Service</p>
          <p class="small footer-text text-white">
            Our Service allows you to post, link, store, share, and otherwise
            make available certain information, text, graphics, videos, or other
            material. You are responsible for the Content posted on the Service.
          </p>
        </div>
      </div>
      <div class="col">
        <div class="footerBox">
          <p class="h5 footer-heading text-white">Help & Support</p>
          <p class="small footer-text text-white">
            If you have any questions or need assistance, our support team is
            here to help. Contact us via email or visit our help center for
            answers to frequently asked questions.
          </p>
        </div>
      </div>
    </div>
    <hr class="text-white"/>
    <p class="footer-copyright text-center mb-0 pb-3 text-white">Copyright &copy; 2025 Blog</p>
  </div>
</footer>
