{% extends 'layout.html' %} {% block main %}
<div class="container-fluid h-100">
  <div class="row">
    <div class="col-md-8"><h1>Profile</h1></div>
    <div class="col-md-4">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search..." />
        <div class="input-group-append">
          <button class="btn btn-primary" type="button">
            <i class="fa-solid fa-magnifying-glass"></i>
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-12 mt-3">
      <form action="{{ url_for('pages.profile' )}}" method="POST" novalidate>
        {{ form.hidden_tag() }}
        <fieldset class="border border-1 p-5 rounded">
          <legend>Personal Information</legend>
          <div class="row g-4">
            <div class="col-md-6">
              {{ form.fullname.label(class="form-label", for="fullname") }}
              <br />
              {{ form.fullname(class="form-control", id="fullname") }}
            </div>
            <div class="col-md-6">
              {{ form.gender.label (class="form-label") }} <br />
              {{ form.gender (class="form-select") }}
            </div>
            <div class="col-md-6">
              {{ form.civilStatus.label (class="form-label", for="civil-status")
              }} <br />
              {{ form.civilStatus (class="form-select", id="civil-status") }}
            </div>
            <div class="col-md-6">
              {{ form.nationality.label (class="form-label", for="nationality")
              }} <br />
              {{ form.nationality (class="form-select", id="nationality") }}
            </div>
            <div class="col-md-6">
              {{ form.birthday.label (class="form-label", for="birthday") }}
              <br />
              {{ form.birthday (class="form-control", id="birthday", type="date") }}
            </div>
            <div class="col-md-6">
              {{ form.birthplace.label (class="form-label", for="birthplace") }}
              <br />
              {{ form.birthplace (class="form-control", id="birthplace") }}
            </div>
            <div class="col-md-6">
              {{ form.occupation.label (class="form-label", for="occupation") }}
              <br>
              {{ form.occupation (class="form-control" , id="occupation")}}
            </div>
            <div class="col-md-6">
              <p>tina</p>
            </div>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</div>

{% endblock %}
