{% extends 'layout.html' %} {% block body %}
<div class="register d-flex justify-content-center align-items-center">
  <div class="card p-5 shadow-lg bg-body rounded" style="width: 500px">
    <h1 class="text-center mb-1">Sign Up</h1>
    <small class="text-center d-block description"
      >Enter your credentials to sign in to your account</small
    >
    <form action="{{url_for('auth.forgot_password')}}" method="post" novalidate>
      {{ form.hidden_tag() }}
      <div class="row form-section" id="form-section-1">
        <div class="col-md-12 mb-3 mt-4">
          {{ form.username.label(class="form-label", for="username") }} {{
          form.username (class="form-control" + (" is-invalid" if
          form.username.errors else ""), id="username", placeholder="Enter your
          username") }} {% for error in form.username.errors %}
          <div class="invalid-feedback d-block">* {{error}}</div>
          {%endfor%}
        </div>
        <div class="col-md-12 mb-3">
          {{ form.new_password.label(class="form-label", for="new_password") }}
          {{ form.new_password(class="form-control" + (" is-invalid" if
          form.new_password.errors else ""), id="new_password",
          placeholder="Enter your new_password") }} {% for error in
          form.new_password.errors %}
          <div class="invalid-feedback d-block">* {{error}}</div>
          {%endfor%}
        </div>

        {{ form.submit(class="btn btn-primary p-2 border-0 w-75 m-auto") }}
      </div>
    </form>
  </div>
</div>
{% endblock %}
