{% extends 'layout.html' %} {% block body %}
<div class="register d-flex justify-content-center align-items-center">
  <div class="card p-5 shadow-lg bg-body rounded" style="width: 400px">
    <h1 class="text-center mb-1">Sign Up</h1>
    <small class="text-center d-block description"
      >Enter your credentials to sign in to your account</small
    >
    <form action="{{url_for('auth.forgot_password')}}" method="post" novalidate>
      {{ form.hidden_tag() }}
      <div class="row form-section" id="form-section-1">
        <div class="col-md-12 mb-3 mt-4">
          {{ form.username.label(class="form-label", for="username") }} {{
          form.username (class="form-control border border-dark" + (" is-invalid" if
          form.username.errors else ""), id="username", placeholder="Enter your
          username") }} {% for error in form.username.errors %}
          <div class="invalid-feedback d-block">* {{error}}</div>
          {%endfor%}
        </div>
        <div class="col-md-12 mb-3">
          {{ form.new_password.label(class="form-label", for="new_password") }}
          {{ form.new_password(class="form-control border border-dark" + (" is-invalid" if
          form.new_password.errors else ""), id="new_password",
          placeholder="Enter your new_password") }} {% for error in
          form.new_password.errors %}
          <div class="invalid-feedback d-block">* {{error}}</div>
          {%endfor%}
        </div>

        {{ form.submit(class="btn btn-primary p-2 border-0 w-100") }}
        <div class="text-center mt-1">
          <a href="{{url_for('auth.login')}}" class="text-decoration-none small text-body">
            Already have an account? <span class="fw-bold">Sign In</span>
          </a>
        </div>
      </div>
    </form>
    <p id="speak-1" class="text-white d-none">Please enter your username and new password</p>
  </div>
</div>
{% endblock %}
{% block scripts %}
<script src="{{ url_for('static', filename='voice.js') }}"></script>
{% endblock %}
