{% extends 'layout.html' %}{% block styles %}
<link
  rel="stylesheet"
  href="{{ url_for('auth.static', filename='register.css') }}"
/>
<style>
  body {
    font-size: 16px;
  }
  .form-section .col-md-12 {
    margin-bottom: 1rem;
  }
  .form-section .col-md-6 {
    margin-bottom: 1rem;
  }
</style>
{% endblock %} {% block body %}
<div class="identification d-flex justify-content-center align-items-center">
  <div class="card p-5 shadow-lg bg-body rounded" style="width: 850px">
    <h1 class="text-center mb-1">Sign Up</h1>
    <small class="text-center d-block description mb-4">
      Enter your credentials to sign in to your account
    </small>

    <h4 class="text-primary">C. Identification Information</h4>
    <form action="{{url_for('auth.identity_register')}}" method="post" enctype="multipart/form-data">
      {{ form.hidden_tag() }}
      <div class="row">
        <div class="col-md-4 mb-3">
          {{ form.profilePic.label(class="form-label") }}
        </div>
        <div class="col-md-8 mb-3">
          {{ form.profilePic(class="form-control" + (" is-invalid" if form.profilePic.errors else "")) }} 
          {% for error in form.profilePic.errors %}
          <div class="invalid-feedback d-block">* {{ error }}</div>
          {% endfor %}
        </div>
        <div class="col-md-4 mb-3">
          {{ form.socialSecurity.label(class="form-label") }}
        </div>
        <div class="col-md-8 mb-3">
          {{ form.socialSecurity(class="form-control")}}
        </div>
        <div class="col-md-4 mb-3">
          {{ form.philHealth.label(class="form-label") }}
        </div>
        <div class="col-md-8 mb-3">{{ form.philHealth(class="form-control")}}</div>
        <div class="col-md-4 mb-3">
          {{ form.nationalID.label(class="form-label") }}
        </div>
        <div class="col-md-8 mb-3">{{ form.nationalID(class="form-control")}}</div>
        <div class="col-md-4 mb-3">
          {{ form.birthCert.label(class="form-label") }}
        </div>
        <div class="col-md-8 mb-3">{{ form.birthCert(class="form-control")}}</div>
        <div class="col-md-6">
          <div class="previous-page mt-2 p-2">
            <a
              href="{{url_for('auth.contact_register')}}"
              class="text-decoration-none"
            >Previous Page</a>
          </div>
        </div>
        <div class="col-md-6">
          <div class="text-end">
          {{ form.submit(class="btn btn-primary mt-2 p-2 border-0 w-25") }}
        </div>
        </div>
        
      </div>
    </form>
    <p id="speak-1" class="text-white small d-none">
      Please enter your identification information
    </p>

    <div class="line text-secondary"></div>
    <button type="button" class="btn btn-primary rounded p-2 m-auto w-50" type="button">
      <i class="fa-brands fa-google me-3"></i>Login with Google
    </button>
  </div>
</div>
{%endblock%}
{% block scripts %}
<script src="{{ url_for('static', filename='voice.js') }}"></script>
{% endblock %}
