{% extends 'register-template.html' %} {% block header %} Sign In {% endblock %}
{% block action %}{{url_for('auth.login')}}{% endblock %} {% block formBody %}
<div class="col-md-12 mb-3">
  {{ form.username.label(class="form-label", for="username")}} <br />
  {{form.username (class="form-control border border-dark" + (" is-invalid" if
  form.username.errors else ""), id="username", placeholder="Enter your
  username")}} {% for error in form.username.errors %}
  <div class="invalid-feedback d-block">* {{error}}</div>
  {%endfor%}
</div>
<div class="col-md-12">
  {{ form.password.label(class="form-label", for="password")}} <br />
  {{ form.password (class="form-control border border-dark" + (" is-invalid" if
  form.password.errors else ""), id="password", placeholder="Enter your
  password") }} {% for error in form.password.errors %}
  <div class="invalid-feedback d-block">* {{error}}</div>
  {%endfor%}
</div>
<div class="col-md-12 text-end mb-3">
  <a
    href="{{ url_for('auth.forgot_password')}}"
    class="text-decoration-none small text-primary fw-bold"
    >Forgot Password?</a
  >
</div>
<div class="col-md-12">
  {{form.submit(class="btn btn-primary mt-2 p-2 w-100 border-0")}}
</div>
{% endblock %} {% block changePage %}{{url_for('auth.register')}}{% endblock %}
{% block changePText %}Don't have an account?
<span class="text-primary fw-bold">Sign Up</span>{% endblock %}
{% block tts %}Please enter you username and password{% endblock %}
